.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.profile-header img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
}

.profile-header {
    background-color: var(--color-9);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    height: 85vh;
    text-align: center;
    color: #FFFFFF;
}

.profile-info {
    background-color: var(--color-7);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    height: 85vh;
    box-shadow: var(--box-shadow-1);
}

.info-title {
    margin-bottom: 15px;
    font-size: 1.5rem;
    text-align: center;
}

.info-title p {
    margin: 0;
    font-size: 1rem;
    color: var(--color-8);
    margin: 15px 40px;
}

.profile-info form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
